@media (max-width:1000px){
    .product{
        width: 35% !important;
        margin: 1.2vw !important;
        margin: 1vw;border-radius: 2vw !important;
        padding:1.5vw !important;
    }


    .product-Pic{
        height: 20vw !important;
        border-radius: 1.5vw !important;
    }
    
    .addToCart{
        width: 45% !important;

    }
    .proNameDiv{
        font-size: 2vw !important;
    }
    .ProPrice>p{
    font-size:3.2vw !important;font-family: 'ExtraBold';
    color: var(--main);
    width: 94% !important;
    }
    .ProCat{
        width: 100% !important;font-size: 1.3vw !important;
        margin-bottom: 0.8vw !important;
    }

    .addToCart{
        width: 45% !important;

    }
    .proNameDiv{
        font-size: 2vw !important;
    }
    .ProPrice>p{
    font-size:3.2vw !important;font-family: 'ExtraBold';
    color: var(--main);
    width: 94% !important;
    }
    .ProCat{
        width: 100% !important;font-size: 1.3vw !important;
        margin-bottom: 0.8vw !important;
    } 
    .UserProfilePicture{
        width:20vw !important;height:20vw !important;
    }
    nav{
        width: 35vw !important;
    }
    .headerOfNav{
        height: 4.5vw !important;
    }
    .closeButton{
        width: 3.5vw !important;height: 3.5vw !important;
    }
    .UserPfp{
       width: calc(40vw * 0.3) !important;height: calc(40vw * 0.3) !important;
    }
    
}

@media (max-width:800px){

    .title{
        font-size:4vw !important;
    }

    .headerContainer{
        height: 15vw !important;
        width:90vw !important;
    }

    .menuButton {
        width: 5vw !important;
        height: 5vw !important;
    }
    .MainLogo {
        width: 10vw !important;
        height: 10vw !important;
    }
    .product{
        width:50% !important;
        padding:2vw !important;
    }
    .product-Pic{
        height:29vw !important;
    }
    .ProPrice>p {
        font-size:4.2vw !important;
    }
    .BuyNow{
        padding: 1.5vw !important;
        font-size: 1.9vw !important;
    }
    .addToCart{
        padding: 1.5vw !important;
        font-size: 1.9vw !important;
    }
    .siideBarSet{
        height:5vw !important;
    }
    .closeButton{
        width: 4vw !important;height:4vw !important;
    }
    nav{
        width: 40vw !important;
    }
    .headerOfNav{
        height: 6.5vw !important;
    }
    .closeButton{
        width: 4vw !important;height: 4vw !important;
    }
    .UserPfp{
       width: calc(40vw * 0.35) !important;height: calc(40vw * 0.35) !important;
    }
}

@media (max-width:600px){
    header{
        padding-top: 4vw !important;
    }
    .headerContainer{
        height: 20vw !important;
        width:90vw !important;
    }
    .menuButton {
        width: 7vw !important;
        height: 7vw !important;
    }
    .MainLogo {
        width: 15vw !important;
        height: 15vw !important;
    }

    .title{
        font-size:5vw !important;
    }

    .product{
        width: 60% !important;
        margin: 1.2vw !important;
        margin: 1vw;border-radius: 3vw !important;
        padding:2.5vw !important;
    }

    .product-Pic{
        height: 35vw !important;
        border-radius: 2.5vw !important;
    }
    .addToCart{
        font-size: 2.4vw !important;
        padding: 2vw !important;
        width:45% !important;
    }
    .BuyNow{
        font-size: 2.4vw !important;
        padding: 2vw !important;
    }
    .proNameDiv{
        font-size: 3vw !important;
    }
    .ProPrice>p{
    font-size:5.2vw !important;font-family: 'ExtraBold';
    color: var(--main);
    width: 94% !important;
    }
    .ProCat{
        width: 100% !important;font-size: 2.6vw !important;
        margin-bottom: 0.8vw !important;
    }
    nav{
        width: 70vw !important;padding: 6vw !important;
    }
    .headerOfNav{
        height: 10vw !important;display: flex;align-items: center;justify-content:end;
    }
    .closeButton{
        width: 7vw !important;height: 7vw !important;
    }
    .UserPfp{
       width: calc(40vw * 0.4) !important;height: calc(40vw * 0.4) !important;
    }
    .UserName{
        font-size: 3vw !important;
    }
}






/*/////////////////////fonts/////////////////////////////*/

@font-face {
    font-family:'Black';
    src: url('../fonts/MPLUSRounded1c-Black.ttf');
}

@font-face {
    font-family:'Medium';
    src: url('../fonts/MPLUSRounded1c-Medium.ttf');
}

@font-face {
    font-family:'ExtraBold';
    src: url('../fonts/MPLUSRounded1c-ExtraBold.ttf');
}
/*///////////////////////animations//////////////////////////*/

@keyframes shake {
    0% { transform: rotateZ(0); }
    25% { transform: rotateZ(-5deg); }
    50% { transform: rotateZ(5deg); }
    75% { transform: rotateZ(-5deg); }
    100% { transform: rotateZ(0); }
}

@keyframes slide{
    0%{
        margin-right:-50vw;
        transform:scale3d(0 , 0 , 0);
    }
    100%{
        margin-right:10px;
        transform:scale3d(1 , 1 , 1);
    }
}

@keyframes Backslide{

    0%{
        margin-right:10px;
        transform:scale3d(1 , 1 , 1);
    }
    100%{
        margin-right:-50vw;
        transform:scale3d(0 , 0 , 0);
    }

}
/*/////////////////////////style////////////////////////////////*/
::selection {
    color: #F6F372;
    background-color: #3d67ff00; 
}
html{
    overflow-x:hidden;
    /* background-color: #3D67FF; */
}
*::-webkit-scrollbar{
    display: none;
    }  
:root{
--main : #3D67FF ; 
}
body{
 overflow: auto;margin-top:15px;
 margin:0;padding:0;background-color: white;
 font-family: 'Medium';
 height:100vh;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255 , 0.8);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  


.MainLogo:hover{
    animation : shake 0.4s ease;
    background:url('../images/index/petshubbluelogo.png') !important;
background-repeat:no-repeat !important;background-size:contain !important;
}


.title{
    font-size:2.75vw;color: var(--main);
    font-family: 'ExtraBold';
}
main{
    width: 100vw;padding:7vw;
}
.newProducts{
    width: 100%;
}
.products{
    width: 100%;
    display: flex;
}

.ToysAndAcc{
    margin-top: 2vw;
}
.product>div{
    width: 100%;
}
.product-Pic{
    height: 15vw;
    background-color: #7AFFB7;border-radius: 0.9vw;
    margin-bottom: 1vw !important;
}
.products-details{
    border: 1px red solid;
    color: var(--main);display: inline-block;
}
.buyCart{
    display: flex;flex-direction: row;
    justify-content: space-between;

}

.proNameDiv{
    display: inline;padding: 0 !important ;margin: 0 !important;
    font-size: 1.3vw;color: var(--main);
    width: 96% !important;
}
.ProPrice>p{
font-size:2.5vw;font-family: 'ExtraBold';
color: var(--main);
width: 96% !important;
}
.ProCat{
    width: 100% !important;font-size: 1.2vw;
    color: #002CCE;margin-bottom: 0.5vw;
}
p{
    margin-bottom: 0 !important;
}
.addToCart{
    border: 1px var(--main) solid ;color: var(--main) ;background-color: white;
    font-size: 0.9vw;border-radius: 50px;padding: 1.2vw;
    width:45% !important;
}
.BuyNow{
    border: 1px var(--main) solid ;color: white ;background-color: var(--main);
    font-size: 1vw;border-radius: 50px;padding: 0.8vw;width: 45%; 
    transition: box-shadow 0.2s;
}

.BuyNow:hover{
animation: shake 0.4s;
}

.BuyNow:active{
    box-shadow: 0px 0px 10px 2px #3d67ff69;
}
.addToCart:active{
    box-shadow: 0px 0px 10px 2px #3d67ff69;
}
.addToCart:hover{
 color: white;background-color: var(--main);
}
.addToCart:hover{
    transition:all 0.3s;
}
.headerContainer{
    height: 10vw ;
    font-size: 2vw ;
    width:90vw ;
    padding: 2vw ;
    display: flex ;
    align-items: center ;    box-sizing: border-box ;
    overflow: hidden ;justify-content: space-between ;


}
button{
    cursor: pointer;
}
header{
    overflow: hidden ;
    display:flex ;
    justify-content:center ;
    position: sticky ;top: 0 ;
z-index: 3 ;
background-color: #ffffffc2 ;
backdrop-filter: blur(10px) ;
}
.menuButton {
    display: inline ;
    width: 3.5vw ;
    height: 3.5vw ;
    background: url(../svg/index/menuButton.svg) ;
    background-repeat: no-repeat ;
    background-size: contain ;
    cursor: pointer ;
    background-position: 50% 50% ;
}
.menuButton:hover{
    animation:shake 0.4s ease;
}
.MainLogo {
    width: 7vw ;
    height: 7vw ;
    background: url(../images/index/petshubblue.png);
    background-repeat: no-repeat ;
    background-size: contain ;
    transition: background 0.2s ;
    cursor: pointer ;
}
.ToysAndAcc {
    margin-top: 5vw;
}


.products {
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping */
    overflow-x: auto;  /* Enable horizontal scrolling */    /* Optional: Adjust padding as needed */
}

.product {
    background: linear-gradient(white 45%, #d6ddff 150%);
    width: 25%;
    margin: 1vw;
    border-radius: 1.04vw;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    flex-shrink: 0; 
    padding:1vw;
}



.newProducts, .ToysAndAcc {
    width: 100%;
    overflow-x: hidden; 
}
nav{
    width: 30vw ;background-color: #3863fd8c;
    backdrop-filter: blur(10px);
    height: 95vh;position: fixed;top: 0;right: 0;
    z-index: 4;border-radius: 10px;margin: 10px;
    padding: 2vw;
    transform: scale3d(0,0,0);
}
.headerOfNav{
    height: 4vw;
}
.closeButton{
    width: 3vw;height: 3vw;background:url('../svg/index/closeButton.svg');
    background-repeat:no-repeat;background-position:50% 50%;background-size:contain;
    float:right;cursor: pointer;
    transition:transform 0.4s;
}
.closeButton:hover{
    transform: rotate(90deg);
}
.UserPfp{
   width: calc(40vw * 0.25);height: calc(40vw * 0.25) ;
   margin: auto;background:url('../svg/home/Userprofile.svg');
   background-position: 50% 50%;background-repeat: no-repeat;background-size: contain;
   border-radius:100vw;
}
.UserName{
    color: white;text-align: center;
    font-size: 2vw;
}
