
@media (max-width:800px){
    header{
     height: 15vw !important;
    }
    .MainLogo{
        width: 9vw !important;height: 9vw !important;
    }
    .menuButton{
        display:inline !important;
        width: 5vw !important;height: 5vw !important;
    }
    .title{
        font-size:4vw !important;
    }


}


@media (max-width:1000px){
    .product{
        width: 30% !important;
        margin: 1.2vw !important;
        margin: 1vw;border-radius: 2vw !important;
    }

    .product-Pic{
        height: 20vw !important;
        border-radius: 1.5vw !important;
    }
    .addToCart{
        font-size: 1vw !important;
        padding: 1vw !important;
    }
    .BuyNow{
        font-size: 1vw !important;
        padding: 1vw !important;
    }
    .proNameDiv{
        font-size: 2vw !important;
    }
    .ProPrice>p{
    font-size:3.2vw !important;font-family: 'ExtraBold';
    color: var(--main);
    width: 94% !important;
    }
    .ProCat{
        width: 100% !important;font-size: 1.3vw !important;
        margin-bottom: 0.8vw !important;
    }
}

@media (max-width:600px){
    header{
        height: 20vw !important;
    }
    .MainLogo{
        width: 14vw !important;height: 14vw !important;
    }
    .menuButton{
        display:inline !important;
        width: 8vw !important;height: 8vw !important;
    }
    .title{
        font-size:5vw !important;
    }

    .product{
        width: 50% !important;
        margin: 1.2vw !important;
        margin: 1vw;border-radius: 2vw !important;
    }

    .product-Pic{
        height: 30vw !important;
        border-radius: 1.5vw !important;
    }
    .addToCart{
        font-size: 2.4vw !important;
        padding: 2vw !important;
    }
    .BuyNow{
        font-size: 2.4vw !important;
        padding: 2vw !important;
    }
    .proNameDiv{
        font-size: 3vw !important;
    }
    .ProPrice>p{
    font-size:5.2vw !important;font-family: 'ExtraBold';
    color: var(--main);
    width: 94% !important;
    }
    .ProCat{
        width: 100% !important;font-size: 2.6vw !important;
        margin-bottom: 0.8vw !important;
    }
}

/*/////////////////////fonts/////////////////////////////*/

@font-face {
    font-family:'Black';
    src: url('../fonts/MPLUSRounded1c-Black.ttf');
}

@font-face {
    font-family:'Medium';
    src: url('../fonts/MPLUSRounded1c-Medium.ttf');
}

@font-face {
    font-family:'ExtraBold';
    src: url('../fonts/MPLUSRounded1c-ExtraBold.ttf');
}
/*///////////////////////animations//////////////////////////*/

@keyframes shake {
    0% { transform: rotateZ(0); }
    25% { transform: rotateZ(-5deg); }
    50% { transform: rotateZ(5deg); }
    75% { transform: rotateZ(-5deg); }
    100% { transform: rotateZ(0); }
}


/*/////////////////////////style////////////////////////////////*/
::selection {
    color: #F6F372;
    background-color: #3d67ff00; 
}
html{
    overflow-x:hidden;
    /* background-color: #3D67FF; */
}
*::-webkit-scrollbar{
    display: none;
    }  
:root{
--main : #3D67FF ; 
}
body{
 overflow: auto;margin-top:15px;
 margin:0;padding:0;background-color: white;
 font-family: 'Medium';
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255 , 0.8);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure loading screen is on top of everything */
  }
  
  .spinner {
    width: 6vw;
    height: 6vw;
    border: 3px solid #ffffff; /* Color of the spinner */
    border-top: 3px solid var(--main); /* Color of the spinner's moving part */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    color: #2349d2;
  }
  
header{
height: 8vw;display: flex;
flex-direction: row;justify-content: space-between;
padding:5vw;display: flex;align-items:center;overflow: hidden;position: sticky;top: 0;
z-index: 2;
background-color: #ffffffc2;
backdrop-filter: blur(10px);
}
.MainLogo{
    width: 7vw;height: 7vw;
    background:url('../images/index/petshubblue.png');
    background-repeat:no-repeat !important;
    background-size:contain !important;
    transition: background 0.2s;cursor:pointer;
}
.MainLogo:hover{
    animation : shake 0.4s ease;
    background:url('../images/index/petshubbluelogo.png') !important;
background-repeat:no-repeat !important;background-size:contain !important;
}
.menuButton{
    display:inline !important;
    width: 4vw;height: 4vw;
    background:url('../svg/index/menuButton.svg');
    background-repeat:no-repeat;
    background-size:contain;cursor:pointer;
    background-position:50% 50%;
}

.title{
    font-size:2.75vw;color: var(--main);
    font-family: 'ExtraBold';
}
main{
    width: 100vw;padding:6vw;
}
.newProducts{
    width: 100%;
}
.products{
    width: 100%;
    display: flex;overflow-x:scroll !important;
}
.product{
    background-color: rgb(255, 255, 255) ;width: 20% ;
    margin: 1vw;border-radius: 1.04vw;
    box-shadow: 0px 0px 10px 4px #EDEDED;
    position: relative;
    z-index: 1;display: flex;flex-direction: column;justify-content: center;
    align-items: center;padding: 0.5vw;
}
.ToysAndAcc{
    margin-top: 2vw;
}
.product>div{
    width: 100%;
}
.product-Pic{
    height: 10vw;
    background-color: #7AFFB7;border-radius: 0.9vw;
    margin-bottom: 1vw !important;
}
.products-details{
    border: 1px red solid;
    color: var(--main);display: inline-block;
}
.buyCart{
    display: flex;flex-direction: row;
    justify-content: space-between;

}

.proNameDiv{
    display: inline;padding: 0 !important ;margin: 0 !important;
    font-size: 1.3vw;color: var(--main);
    width: 96% !important;
}
.ProPrice>p{
font-size:2vw;font-family: 'ExtraBold';
color: var(--main);
width: 96% !important;
}
.ProCat{
    width: 100% !important;font-size: 0.8vw;
    color: #002CCE;margin-bottom: 0.5vw;
}
p{
    margin-bottom: 0 !important;
}
.addToCart{
    border: 1px var(--main) solid ;color: var(--main) ;background-color: white;
    font-size: 0.7vw;border-radius: 50px;padding: 0.8vw;width: 45%;
}
.BuyNow{
    border: 1px var(--main) solid ;color: white ;background-color: var(--main);
    font-size: 0.7vw;border-radius: 50px;padding: 0.8vw;width: 45%; 
}


