@media (max-width:1000px){
    .product{
        width: 35% !important;
        margin: 1.2vw !important;
        margin: 1vw;border-radius: 2vw !important;
        padding:1.5vw !important;
    }


    .product-Pic{
        height: 20vw !important;
        border-radius: 1.5vw !important;
    }
    
    .addToCart{
        width: 45% !important;

    }
    .proNameDiv{
        font-size: 2vw !important;
    }
    .ProPrice>p{
    font-size:3.2vw !important;font-family: 'ExtraBold';
    color: var(--main);
    width: 94% !important;
    }
    .ProCat{
        width: 100% !important;font-size: 1.3vw !important;
        margin-bottom: 0.8vw !important;
    }

    .addToCart{
        width: 45% !important;

    }
    .proNameDiv{
        font-size: 2vw !important;
    }
    .ProPrice>p{
    font-size:3.2vw !important;font-family: 'ExtraBold';
    color: var(--main);
    width: 94% !important;
    }
    .ProCat{
        width: 100% !important;font-size: 1.3vw !important;
        margin-bottom: 0.8vw !important;
    } 
    .UserProfilePicture{
        width:20vw !important;height:20vw !important;
    }
    nav{
        width: 35vw !important;
    }
    .headerOfNav{
        height: 4.5vw !important;
    }
    .closeButton{
        width: 3.5vw !important;height: 3.5vw !important;
    }
    .UserPfp{
       width: calc(40vw * 0.3) !important;height: calc(40vw * 0.3) !important;
    }
    .page{
        height: 3.3vw !important;
    }
    .PageIcon{
        height: 3.3vw !important;width: 3.3vw !important;
    }
    .page{
        height: 3.3vw !important;
    }

    
}

@media (max-width:800px){

    .title{
        font-size:4vw !important;
    }

    .headerContainer{
        height: 15vw !important;
        width:90vw !important;
    }

    .menuButton , .searchIcon{
        width: 5vw !important;
        height: 5vw !important;
    }
    .MainLogo {
        width: 10vw !important;
        height: 10vw !important;
    }
    .product{
        width:50% !important;
        padding:2vw !important;
    }
    .product-Pic{
        height:29vw !important;
    }
    .ProPrice>p {
        font-size:4.2vw !important;
    }
    .BuyNow{
        padding: 1.5vw !important;
        font-size: 1.9vw !important;
    }
    .addToCart{
        padding: 1.5vw !important;
        font-size: 1.9vw !important;
    }
    .siideBarSet{
        height:5vw !important;
    }
    .closeButton{
        width: 4vw !important;height:4vw !important;
    }
    nav{
        width: 40vw !important;
    }
    .headerOfNav{
        height: 6.5vw !important;
    }
    .closeButton{
        width: 4vw !important;height: 4vw !important;
    }
    .UserPfp{
       width: calc(40vw * 0.35) !important;height: calc(40vw * 0.35) !important;
    }
    .availablePets{
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .containerOfPet {
        height: 45vw !important;
    }
    .NameOfPet{
        font-size: 5vw !important;
       }
       .TypeOfpet{
           font-size: 2.4vw !important;
       }
       .MorePets , .DiscoverMore{
        padding: 2.5vw 5vw 2.5vw 5vw !important;
        font-size: 2.5vw !important;width: 20vw !important;
        gap: 5vw !important;width: 30vw !important;
    }
    .daycareService{
        height: 100vw !important;background: var(--main)  url('../svg/home/PetDaycareServiceMobile.svg') !important;
        background-repeat: no-repeat !important;background-size: cover !important;
        background-position: 0% 100% !important;
        width: 100vw;
        position: relative;
    }
    footer{
       height:18vw !important;align-items: center !important;
    }
    .socials> .WhatsappLink{
        width:12% !important;height:7vw !important;
    }
    .socials> .InstagramLink{
        width:12% !important;height:7vw !important;
    }
    .socials> .FacebookLink{
        width:12% !important;height:7vw !important;
    }
    .socials> .XLink{
        width:12% !important;height:7vw !important;
    }
    .socials> .FooterLogo{
        width:12% !important;height:7vw !important;
    }
    .DayCareServInfo{
        width:95vw !important;border-radius:4vw!important;
        text-align:center !important;margin:auto;
    }
    .DayCareServInfo > p{
        font-size:2.5vw !important;
    }
    .joinNow{
        font-size:2.5vw !important;
    }
}
@media (max-width:600px){

    .title{
        font-size:4vw !important;
    }

    .headerContainer{
        height: 15vw !important;
        width:90vw !important;
    }

    .menuButton , .searchIcon{
        width: 5vw !important;
        height: 5vw !important;
    }
    .MainLogo {
        width: 10vw !important;
        height: 10vw !important;
    }
    .product{
        width:50% !important;
        padding:2vw !important;
    }
    .product-Pic{
        height:29vw !important;
    }
    .ProPrice>p {
        font-size:4.2vw !important;
    }
    .BuyNow{
        padding: 1.5vw !important;
        font-size: 1.9vw !important;
    }
    .addToCart{
        padding: 1.5vw !important;
        font-size: 1.9vw !important;
    }
    .siideBarSet{
        height:5vw !important;
    }
    .closeButton{
        width: 4vw !important;height:4vw !important;
    }
    nav{
        width: 50vw !important;
    }
    .headerOfNav{
        height: 6.5vw !important;
    }
    .closeButton{
        width: 4vw !important;height: 4vw !important;
    }
    .UserPfp{
       width: calc(40vw * 0.45) !important;height: calc(40vw * 0.45) !important;
    }




    .PageIcon {
        height: 6vw !important;
        width: 6vw !important;
    }
    .page{
        height: 6vw !important;
    }
    .page>p{
        font-size: 2vw !important;
    }
    .UserName{
margin-bottom:4vw !important;
    }
    .pages{
gap:2vw !important;    
    }
    .UserName{
        font-size: 2vw !important;
    }

    .NameOfPet{
        font-size: 6.5vw !important;
    }
    .TypeOfpet{
        font-size: 3.4vw !important;
    }

    .availablePets{
        padding: 3.5vw !important;
    }
}
@media (max-width:500px){
    header{
        padding-top: 4vw !important;
    }
    .headerContainer{
        height: 20vw !important;
        width:90vw !important;
    }
    .menuButton , .searchIcon{
        width: 7vw !important;
        height: 7vw !important;
    }
    .MainLogo {
        width: 15vw !important;
        height: 15vw !important;
    }

    .title{
        font-size:5vw !important;
    }

    .product{
        width: 60% !important;
        margin: 1.2vw !important;
        margin: 1vw;border-radius: 3vw !important;
        padding:2.5vw !important;
    }

    .product-Pic{
        height: 35vw !important;
        border-radius: 2.5vw !important;
    }
    .addToCart{
        font-size: 2.4vw !important;
        padding: 2vw !important;
        width:45% !important;
    }
    .BuyNow{
        font-size: 2.4vw !important;
        padding: 2vw !important;
    }
    .proNameDiv{
        font-size: 3vw !important;
    }
    .ProPrice>p{
    font-size:5.2vw !important;font-family: 'ExtraBold';
    color: var(--main);
    width: 94% !important;
    }
    .ProCat{
        width: 100% !important;font-size: 2.6vw !important;
        margin-bottom: 0.8vw !important;
    }
    nav{
        width: 96vw !important;padding: 6vw !important;
        right: auto !important;
    }
    .headerOfNav{
        height: 10vw !important;display: flex;align-items: center;justify-content:end;
    }
    .closeButton{
        width: 7vw !important;height: 7vw !important;
    }
    .UserPfp {
            width: calc(40vw* 1) !important;
            height: calc(40vw* 1) !important;
    }
    .UserName{
        font-size: 5vw !important;
    }

    .PageIcon {
        height: 10vw !important;
        width: 10vw !important;
    }
    .page{
        height: 10vw !important;
    }
    .page>p{
        font-size: 4vw !important;
    }
    .UserName{
margin-bottom:8vw !important;
    }
    .pages{
gap:3vw !important;    
    }

    .ICON{
        height: 10vw !important;width: 10vw !important;
     }
}






/*/////////////////////fonts/////////////////////////////*/

@font-face {
    font-family:'Black';
    src: url('../fonts/MPLUSRounded1c-Black.ttf');
}

@font-face {
    font-family:'Medium';
    src: url('../fonts/MPLUSRounded1c-Medium.ttf');
}

@font-face {
    font-family:'ExtraBold';
    src: url('../fonts/MPLUSRounded1c-ExtraBold.ttf');
}
/*///////////////////////animations//////////////////////////*/

@keyframes shake {
    0% { transform: rotateZ(0); }
    25% { transform: rotateZ(-5deg); }
    50% { transform: rotateZ(5deg); }
    75% { transform: rotateZ(-5deg); }
    100% { transform: rotateZ(0); }
}

@keyframes slide{
    0%{
        margin-right:-100vw;
        transform:scale3d(0 , 0 , 0);
    }
    100%{
        margin-right:10px;
        transform:scale3d(1 , 1 , 1);
    }
}

@keyframes Backslide{

    0%{
        margin-right:10px;
        transform:scale3d(1 , 1 , 1);
    }
    100%{
        margin-right:-50vw;
        transform:scale3d(0 , 0 , 0);
    }

}
/*/////////////////////////style////////////////////////////////*/
::selection {
    color: #F6F372;
    background-color: #3d67ff00; 
}
html{
    overflow-x:hidden;
    /* background-color: #3D67FF; */
}
*::-webkit-scrollbar{
    display: none;
    }  
:root{
--main : #3D67FF ; 
}
body{
 overflow: auto;margin-top:15px;
 margin:0;padding:0;background-color: white;
 font-family: 'Medium';
 height:100vh;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255 , 0.8);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  


.MainLogo:hover{
    animation : shake 0.4s ease;
    background:url('../images/index/petshubbluelogo.png') !important;
background-repeat:no-repeat !important;background-size:contain !important;
}


.title{
    font-size:2.75vw;color: var(--main);
    font-family: 'ExtraBold';
}
main{
    width: 100vw;padding:7vw;
}
.newProducts{
    width: 100%;
}
.products{
    width: 100%;
    display: flex;
}

.ToysAndAcc{
    margin-top: 2vw;
}
.product>div{
    width: 100%;
}
.product-Pic{
    height: 15vw;
    background-color: #7AFFB7;border-radius: 0.9vw;
    margin-bottom: 1vw !important;
}
.products-details{
    border: 1px red solid;
    color: var(--main);display: inline-block;
}
.buyCart{
    display: flex;flex-direction: row;
    justify-content: space-between;

}

.proNameDiv{
    display: inline;padding: 0 !important ;margin: 0 !important;
    font-size: 1.3vw;color: var(--main);
    width: 96% !important;
}
.ProPrice>p{
font-size:2.5vw;font-family: 'ExtraBold';
color: var(--main);
width: 96% !important;
}
.ProCat{
    width: 100% !important;font-size: 1.2vw;
    color: #002CCE;margin-bottom: 0.5vw;
}
p{
    margin-bottom: 0 !important;
}
.addToCart{
    border: 1px var(--main) solid ;color: var(--main) ;background-color: white;
    font-size: 0.9vw;border-radius: 50px;padding: 1.2vw;
    width:45% !important;
}
.BuyNow{
    border: 1px var(--main) solid ;color: white ;background-color: var(--main);
    font-size: 1vw;border-radius: 50px;padding: 0.8vw;width: 45%; 
    transition: all 0.2s;
}

.BuyNow:hover{
animation: shake 0.4s;

}

.BuyNow:active{
    box-shadow: 0px 0px 10px 2px #3d67ff69;
    color:var(--main);border:1px var(--main);background-color:white;
}
.addToCart:active{
    box-shadow: 0px 0px 10px 2px #3d67ff69;
}
.addToCart:hover{
 color: white;background-color: var(--main);
}
.addToCart:hover{
    transition:all 0.3s;
}
.headerContainer{
    height: 10vw ;
    font-size: 2vw ;
    width:90vw ;
    padding: 2vw ;
    display: flex ;
    align-items: center ;    box-sizing: border-box ;
    overflow: hidden ;justify-content: space-between ;


}
button{
    cursor: pointer;
    font-family: 'ExtraBold';
}
header{
    overflow: hidden ;
    display:flex ;
    justify-content:center ;
    position: sticky ;top: 0 ;
z-index: 3 ;
background-color: #ffffffc2 ;
backdrop-filter: blur(10px) ;
}
.menuButton , .searchIcon {
    display: inline ;
    width: 3.5vw ;
    height: 3.5vw ;
    background: url(../svg/index/menuButton.svg) ;
    background-repeat: no-repeat ;
    background-size: contain ;
    cursor: pointer ;
    background-position: 50% 50% ;
}
.menuButton:hover , .searchIcon:hover{
    animation:shake 0.4s ease;
}
.MainLogo {
    width: 7vw ;
    height: 7vw ;
    background: url(../images/index/petshubblue.png);
    background-repeat: no-repeat ;
    background-size: contain ;
    transition: background 0.2s ;
    cursor: pointer ;
}
.ToysAndAcc {
    margin-top: 5vw;
}


.products {
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping */
    overflow-x: auto;  /* Enable horizontal scrolling */    /* Optional: Adjust padding as needed */
}

.product {
    background: linear-gradient(white 45%, #d6ddff 150%);
    width: 25%;
    margin: 1vw;
    border-radius: 1.04vw;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    flex-shrink: 0; 
    padding:1vw;
    transition: transform 0.3s cubic-bezier(0.85, 0, 0.15, 1);cursor: pointer;
}

.containerOfPet{
    height: 25vw;position: relative;
}

.newProducts, .ToysAndAcc , .Grooming{
    width: 100%;
    overflow-x: hidden; 
}
nav{
    width: 30vw ;background-color: var(--main);
    backdrop-filter: blur(10px);
    height: 98vh;position: fixed;top: 0;right: 0;
    z-index: 4;border-radius: 10px;margin: 10px;
    padding: 2vw;
    transform: scale3d(0,0,0);
    overflow: auto !important;
}
.headerOfNav{
    height: 4vw;display: flex;align-items: center;
    justify-content: end;
}
.closeButton{
    width: 3vw;height: 3vw;background:url('../svg/index/closeButton.svg');
    background-repeat:no-repeat;background-position:50% 50%;background-size:contain;
    float:right;cursor: pointer;
    transition:transform 0.4s;
}
.closeButton:hover{
    transform: rotate(90deg);
}
.UserPfp{
   width: calc(40vw * 0.25);height: calc(40vw * 0.25) ;
   margin: auto;background:url('../svg/home/Userprofile.svg');
   background-position: 50% 50%;background-repeat: no-repeat;background-size: contain;
   border-radius:100vw;transition: background cubic-bezier(0.85, 0, 0.15, 1) 0.3s;
   cursor: pointer;
}
.UserPfp:hover{
    background:url('../svg/home/AddProfile.svg');
   background-position: 50% 50%;background-repeat: no-repeat;background-size: contain;
}
.UserName{
    color: white;text-align: center;
    font-size: 1.4vw;margin-bottom:2vw !important;
    font-size: 'ExtraBold';
}
.pages{
    display: flex;flex-direction: column;
    color: white;gap:1vw;

}
.page{
    display: flex;gap: 1vw;
    align-items: center;padding: 2vw;
    cursor: pointer;
    cursor: pointer;border-radius: 20px;
    height: 3vw;
    transition: all 0.3s;
    padding: 2vw;
    
}
.page:hover{
    background:linear-gradient(90deg, rgb(135 161 255 / 0%) 0%, rgba(104, 137, 255, 0.575) 20%, rgb(99 128 235 / 0%) 100%)
}
.PageIcon{
    height: 3vw;width: 3vw ;
}
.page>p{
    font-size: 1.6vw;
}
.HomePage{
    background:url('../svg/home/HomeIcon.svg');
    background-size: contain;background-repeat: no-repeat;background-position:50% 50%;
}
.ShopPage{
    background:url('../svg/home/shopbag.svg');
    background-size: contain;background-repeat: no-repeat;background-position:50% 50%;
}
.DayCarePage{
    background:url('../svg/home/DayCare.svg');
    background-size: contain;background-repeat: no-repeat;background-position:50% 50%;
}
.CartPage{
    background:url('../svg/home/Cart.svg');
    background-size: contain;background-repeat: no-repeat;background-position:50% 50%;
}
.SettingsPage{
    background:url('../svg/home/Settings.svg');
    background-size: contain;background-repeat: no-repeat;background-position:50% 50%;
}
.page{
    font-family: 'ExtraBold';
}
.page:hover .PageIcon {
    animation: shake 0.4s;
}
.ToysAndAcc{
    margin-bottom: 2vw !important;
}
.PetsToAdopt{
    margin-top: 6vw;
}
.availablePets{
    display: grid;
    grid-template-columns: repeat(4, 1fr);padding: 0.4vw;
}
.availablePets> .containerOfPet{
    width: 95%;
}
.containerOfPet{
    border-radius: 1.5vw;margin-bottom: 1vw;
    display: flex;flex-direction: column;justify-content: end;padding: 2vw;
    cursor: pointer;  transition: transform 0.3s cubic-bezier(0.85, 0, 0.15, 1);
}
.containerOfPet:hover{
    transform: scale3d(0.95,0.95,0.95);
}
.NameOfPet{
 font-size: 3vw;
}
.TypeOfpet{
    font-size: 1.4vw;
}
.NameOfPet{
    margin: 0;color: white;
}
.TypeOfpet{
    margin: 0;color: white;
}
.example1{
    background: url('../images/home/PetAdoptExamples/CatExample1.jpg') ;
    background-repeat:no-repeat;background-position: 50% 50%;background-size: cover;
    
}
.example1:hover{
    background:linear-gradient(to bottom , rgba(255, 255, 255, 0) 60%, #708fff) , url('../images/home/PetAdoptExamples/CatExample1.jpg');
    background-repeat:no-repeat;background-position: 50% 50%;background-size: cover;

}

.example2{
    background: url('../images/home/PetAdoptExamples/examplePET2.jpg');
    background-repeat:no-repeat;background-position: 50% 50%;background-size: cover;
}
.example2:hover{
    background:linear-gradient(to bottom , rgba(255, 255, 255, 0) 60%, #708fff) , url('../images/home/PetAdoptExamples/examplePET2.jpg');
    background-repeat:no-repeat;background-position: 50% 50%;background-size: cover;

}
.example4{
    background:url('../images/home/PetAdoptExamples/PETEXAMPLE3.jpg');
    background-repeat:no-repeat;background-position: 50% 50%;background-size: cover;
}
.example4:hover{
    background:linear-gradient(to bottom , rgba(255, 255, 255, 0) 60%, #708fff) , url('../images/home/PetAdoptExamples/PETEXAMPLE3.jpg');
    background-repeat:no-repeat;background-position: 50% 50%;background-size: cover;

}
.example3{
    background:url('../images/home/PetAdoptExamples/PETEXAPMLE3.jpg');
    background-repeat:no-repeat;background-position: 50% 50%;background-size: cover;
}
.example3:hover{
    background:linear-gradient(to bottom , rgba(255, 255, 255, 0) 60%, #708fff) , url('../images/home/PetAdoptExamples/PETEXAPMLE3.jpg');
    background-repeat:no-repeat;background-position: 50% 50%;background-size: cover;

}
.containerOfPet > div {
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition */
}

.containerOfPet:hover > div {
    opacity: 1;
}
.MorePet{
    display: flex;justify-content: center;
}
.MorePets , .DiscoverMore{
    border: none;padding:1vw 1.3vw 1vw 1.3vw;background-color: var(--main);color: white;
    font-size: 1.5vw;border-radius: 4vw;width: 15vw;
}
.MorePets:hover , .DiscoverMore:hover{
    animation: shake 0.4s ;
}
.daycareService{
    height: 50vw;background: url('../svg/home/petDaycareservice.svg');
    background-repeat: no-repeat;background-size: contain;width: 100vw;
    background-position: 0% 100%;
}
.joinNow{
    background-color: white;padding: 1vw 3vw 1vw 3vw;
    border: none;border-radius: 50vw;color:var(--main);
    font-family: 'ExtraBold';font-size:1.5vw;
}

footer{
    background-color: var(--main);
}


.socials{
    width:50vw;height:10vw;
    display:flex;align-items:center;
    justify-content:center;gap:2vw;
}
.socials>div{
    cursor:pointer;
}
.socials>div:hover{
    animation: shake 0.4s;
}
.socials> .WhatsappLink{
    background:url('../images/index/whatsappIcon.png');
    background-size:contain;background-repeat:no-repeat;
    background-position:50% 50%;width:5%;height:2.5vw;
}
.socials> .InstagramLink{
    background:url('../images/index/instagramIcon.png');
    background-size:contain;background-repeat:no-repeat;
    background-position:50% 50%;width:5%;height:2.5vw;
}
.socials> .FacebookLink{
    background:url('../images/index/facebookIcon.png');
    background-size:contain;background-repeat:no-repeat;
    background-position:50% 50%;width:10%;height:5vw;
}
.socials> .XLink{
    background:url('../images/index/XIcon.png');
    background-size:contain;background-repeat:no-repeat;
    background-position:50% 50%;width:10%;height:5vw;
}
.socials> .FooterLogo{
    background:url('../images/index/whiteIcon.png');
    background-size:contain;background-repeat:no-repeat;
    background-position:50% 50%;width:20%;height:10vw;
}
footer{
    width:100vw;height:10vw;
    background:var(--main);
    display: flex;justify-content: center;
    overflow: hidden;
}
.JoinMobileButton{
    display: none;
}
.DayCareServInfo{
    width:70vw;background:var(--main);margin-bottom:3vw;
    padding:4vw 10vw;border-radius:0px 100vw 100vw 0px;
}
.DayCareServInfo > p{
    font-size: 1.5vw;
    color:white;
}
.joinNow:hover{
animation:shake 0.4s;
}
.joinNow:active{
    background-color:var(--main);color:white;border:1px white solid;
}
hr{
    color:var(--main);
}
