@media (max-width:800px){
    header{
        width:90vw !important;height:20vw !important;
    }

}
/*fonts*/
@font-face {
    font-family:'Black';
    src: url('../fonts/MPLUSRounded1c-Black.ttf');
}

@font-face {
    font-family:'Medium';
    src: url('../fonts/MPLUSRounded1c-Medium.ttf');
}

@font-face {
    font-family:'ExtraBold';
    src: url('../fonts/MPLUSRounded1c-ExtraBold.ttf');
}
/*responsive*/

@media (max-width:800px){

    header{height:20vw !important;}
    .backButton{
        width:7vw !important; height :7vw !important;
    }
    .signupForm>input{
        margin-bottom:1.5vw !important;
    }
    .signupForm{
        width:60vw !important;
        margin-top: 6vw !important;
    }
    header{
        margin-top:10vw !important;
    }

}
/*animation*/
@keyframes menuPagesDis{
    0%{margin-bottom:-50vw;}
    100%{margin-bottom:2vw}
}
/*styles*/
body{
    display;flex;flex-direction:column;
    text-align:center;justify-content:center;color:var(--main);
    height:100vh;
}

html{
    overflow-x:hidden;
}
:root{
--main : #3D67FF ; 
}

header{
    width:100vw;height:10vw;font-size: 2vw;
    padding:5vw;display: flex;align-items:start;overflow: hidden;
    margin:auto;padding:4vw;margin-top:2vw;
}
.backButton{
    width:5vw ; height :5vw;
    background:url('../svg/signup/backarr.svg');
    background-size:contain;background-repeat:no-repeat;
    cursor:pointer;
}
h1{
    font-family:'ExtraBold';
}
.empt{
    width:10vw ; height :10vw;
}
.formOfSignUp{
margin-top: 3vw;
width:100vw;
display:flex;
display;flex;justify-content:center;

}
.signupForm{
    width:40vw;text-align:left;
    animation : menuPagesDis 0.7s ease forwards;
}
.signupForm>input{
    width:100%;
    border:var(--main) 1px solid;padding:0.5vw;
    border-radius:7px;
    transition:all 0.4s;
    margin-bottom:0.5vw;
    color:var(--main);
}
.signupForm>input:focus{
    box-shadow:0px 0px 0px 2px rgba(61, 103, 255 , 0.5);
    outline:none;
}
.signupForm>*{
    font-family:'Medium' !important;
}

.signUpButton{
    margin:auto;
}
.signUpDiv{
    width:100%;display:flex;margin-top:1.5vw;
}
.signUpButton{
    border:none;background-color:var(--main);color:white;
    padding:1vw;padding-right:4vw;padding-left:4vw;
    border-radius:70px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,{
    background-color: rgba(61, 103, 255 , 0.5) !important; /* Background color */
    color: red !important;
}
